<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
    
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'weather/images/favicon.png' %}" >

    <link rel="stylesheet" href="{% static 'weather/css/style.css' %}">
</head>
<body class="mx-5">
    <div class="pt-5">
        <img src="{% static 'weather/images/favicon.png' %}" class="mb-4 me-2" style="max-height: 42px; display: inline;">
        <h1 style="display: inline;">Узнайте погоду в своём городе</h1>
    </div>
    <form method="post" class="mt-2">
        <div class="my-1">
            {% csrf_token %}
            {{ form.city }}
            <div id="suggestions" class="form-select no-arrow autocomplete-list"></div>
            <button id="searchButton" class="btn btn-primary bg-gradient mt-2" type="submit">Получить прогноз</button>
        </div>
    </form>

    <div class="pt-3">
        {% if error %}
            <p class="alert alert-danger mt-4">{{ error }}</p>
        {% endif %}

        {% if city %}
            <p class="fs-3">Погода в городе: {{ city }}</p>
        {% endif %}

        {% if temperature and humidity %}
            <p class="fs-5">Сейчас <b>{{ temperature }}</b>°C, {{ humidity }}% влажности</p>
        {% endif %}

        {% if weather_charts %}
            <p>{{ weather_charts | safe }}</p>
        {% endif %}
    </div>

    <script src="{% static 'weather/js/autocomplete.js' %}"></script>  
</body>
</html>